@import url('./variables.css');

.fade-in-up {
  animation: fadeInUp 1s ease-out both;
}

.card {
  width: 90vw;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 7;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));

  @media screen and (min-width: 821px) {
    width: 600px;
  }

  @media screen and (min-width: 1280px) {
    width: 800px;
  }

  &#card-1-1 {
    top: 27%;
    left: 50%;

    @media screen and (min-width: 821px) {
      left: 30%;
    }
  }

  &#card-1-2 {
    top: 27%;
    left: 50%;

    @media screen and (min-width: 821px) {
      top: 50%;
      left: 60%;
    }
  }

  &#card-1-3 {
    top: 27%;
    left: 50%;

    @media screen and (min-width: 821px) {
      top: 35%;
      left: 65%;
    }
  }

  .content-bg {
    gap: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2.5rem 2.2rem 3.5rem 2.2rem;
    clip-path: polygon(100% 0, 100% 85%, 90% 100%, 0 100%, 0 0);

    @media screen and (min-width: 821px) {
      padding: 3rem 4.5rem 2.5rem 3.5rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      clip-path: polygon(0 0, 100% 0%, 96% 100%, 0% 100%);
      width: 30%;
      height: 11px;
      background: var(--color-process1);
    }
  }

  .card-title-img {
    width: 100%;
    margin-bottom: 10px;
  }

  .card-title {
    /* margin-bottom: 20px; */
    position: relative;

    .home-text {
      transform: translateY(-50%);
      top: 2px;
      right: 0;
      position: absolute;
      z-index: -1;
      display: none;

      @media screen and (min-width: 821px) {
        display: block;
      }
    }
  }

  h4 {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
    background-color: #fff;
    padding-right: 20px;
  }

  p {
    font-size: 1rem;
    text-align: left;
    @media screen and (min-width: 821px) {
      text-align: justify;
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: end;

    button {
      background: var(--color-secondary);
      color: #fff;
      border-radius: 50px;
      font-size: 16px;
      padding: 5px 20px;
      width: fit-content;
    }
  }
}

#card-1 {
  top: 25%;
  left: 50%;

  @media screen and (min-width: 821px) {
    left: 32%;
  }

  .card-title-img {
    width: 80%;
  }
}

#card-2 {
  left: 50%;
  top: 25%;

  @media screen and (min-width: 821px) {
    top: 25%;
    left: 28%;
  }

  .card-title-img {
    width: 70%;
  }
}

#card-3 {
  top: 25%;
  left: 50%;

  @media screen and (min-width: 821px) {
    left: unset;
    right: 0%;
    top: 19%;
  }

  .card-title-img {
    width: 50%;
  }
}

#card-4 {
  left: 50%;
  top: 25%;

  @media screen and (min-width: 821px) {
    top: 14%;
    left: 60%;
  }

  .card-title-img {
    width: 65%;
  }
}

#card-5 {
  top: 25%;
  left: 50%;

  @media screen and (min-width: 821px) {
    top: 40%;
    left: 72%;
  }
}

.title {
  img {
    width: 50%;
  }
}

.pin-spacer {
  overflow: hidden !important;
}

#banner-2 {
  position: relative;
  background-color: #ecd7c2;
}

#banner-1-img {
  position: relative;
  left: 51%;
  transform: translate(-50%, -50%);
  overflow: visible;
  bottom: -50%;
  height: 83vh;
  
  @media screen and (min-width: 821px) {
    left: 49%;
    bottom: -60%;
    height: 100vh;
  }
}

#banner-2-img {
  position: relative;
  top: 50%;
  left: 63.4%;
  transform: translate(-50%, -50%);
  padding-bottom: 100px;
  overflow: visible;
  @media screen and (min-width: 821px) {
    bottom: -60%;
    left: 50%;
    height: 100vh;
  }
}

.city {
  width: 1600px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;

  @media screen and (min-width: 821px) {
    width: 100%;
  }
}

.home-video {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, calc(-50% + 30px));
    opacity: 0;
  }

  60% {
    transform: translate(-50%, calc(-50% + 5px));
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.card.bounce {
  animation: bounce 0.2s ease-in;
}