* {
  box-sizing: border-box;
}

:root {
  --inner-width: 1140px;
  --color-primary: #fcdac4;
  --color-secondary: #EF4136;
  --color-item: #FBE6D1;
  --color-introduction: #be141b;
  --color-pink: #fcdfe2;
}

html {
  font-size: 16px;
}

img {
  height: 100%;
}

body {
  font-size: 1rem;
  height: 100%;
  width: 100%;

  &.introduction {
    background: var(--color-pink);

    @media screen and (min-width: 821px) {
      &::before {
        content: "";
        position: fixed;
        height: 50%;
        width: 20%;
        bottom: 0%;
        left: 0;
        z-index: -1;
        background-image: url('/assets/images/single-page-content-bg-left.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::after {
        content: "";
        position: fixed;
        height: 50%;
        width: 20%;
        right: -2px;
        z-index: -1;
        background-image: url('/assets/images/single-page-content-bg-right.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 200px;
        height: 574px;
        top: 350px;
      }
    }
  }

  /*  for single page */
  /* .background { 
    position: relative;
    z-index: -1;

    &.square {
      z-index: -1;
      position: relative;

      &::before {
        content: "";
        position: fixed;
        height: 180px;
        width: 300px;
        background: #f69321c4;
        top: 25%;
        left: 6.5%;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        z-index: 5;
      }
    }
  } */
}

.head-logo {
  width: 65vw;

  @media screen and (min-width: 821px) {
    width: 380px;
  }
}

.acc-font-size {
  color: var(--color-secondary);
  /* line-height: 0; */

  div {
    cursor: pointer;
  }

  div.active {
    border-bottom: 1px solid var(--color-secondary);
  }

  .size1 {
    font-size: 15.2px;
  }

  .size2 {
    font-size: 19px;
  }

  .size3 {
    font-size: 24.7px;
  }
}

nav {
  z-index: 50;
}

.nav-inner {
  padding-top: 50px;
  max-width: var(--inner-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;

  .menu {
    a {
      cursor: pointer;
      width: 52px;
      height: 52px;
      background: #f7b0a062;
      border-radius: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.menu_trigger {
        background: #fff;
      }

      img {
        width: 100%;
        max-height: 20px;
      }
    }
  }
}


.nav-other-inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 90;
  padding-top: 0;
  max-width: 94vw;

  @media screen and (min-width: 821px) {
    max-width: 90vw;
  }

  background-color: #fff;
  border-radius: 0 0 30px 30px;

  .menu {
    .menu-wrapper {
      display: none;
      font-size: 19px;
      font-weight: 600;
      color: var(--color-secondary);

      @media screen and (min-width: 821px) {
        display: flex;
        gap: 20px;
      }
    }

    a {
      cursor: pointer;

      &.menu_trigger {
        background: #fff;

        @media screen and (min-width: 821px) {
          display: none;
        }
      }

      img {
        width: 100%;
        max-height: 20px;
      }
    }
  }

  .acc-font-size,
  .lang-switcher {
    display: none;
  }

  @media screen and (min-width: 821px) {

    .acc-font-size,
    .lang-switcher {
      display: flex;
    }
  }
}



.backdrop-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1.4rem;
  margin: auto;
  width: 95vw;

  @media screen and (min-width: 821px) {
    width: 400px;
  }

  .menu-item-wrapper {
    display: flex;
    flex-direction: column;
  }

  .item {
    transition: all .2s;
    border: 3px solid var(--color-secondary);
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    justify-content: space-between;
    color: var(--color-secondary);
    cursor: pointer;
    font-weight: 700;

    span {
      line-height: 1.2;
    }

    &.expanded {
      margin-bottom: 0.5rem;
    }

    .img-wrap {
      width: 60px;
      height: 100%;
      display: flex;
      justify-content: center;
      background: var(--color-item);
      border-left: 2px solid var(--color-secondary);

      img {
        width: 20px;
        transition: transform 0.3s;
      }
    }

    &.expandable.expanded .img-wrap img {
      transform: rotate(45deg);
    }

    &:hover {
      background: var(--color-secondary);
      color: #fff;
    }

    &.submenu-item {
      height: 45px;
      margin-left: 30px;
      font-size: 1.2rem;
      border-width: 1px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .submenu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;

    &.hidden {
      max-height: 0;
    }
  }

  .menu {
    a {
      cursor: pointer;
      width: 52px;
      height: 52px;
      background: var(--color-item);
      border-radius: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.menu_trigger {
        background: #fff;
      }

      img {
        width: 100%;
        max-height: 20px;
      }
    }
  }
}

.thumb {
  cursor: pointer;
}

footer {
  background-color: #fff;

  .footer-inner {
    max-width: var(--inner-width);
    margin: auto;

    div {
      flex-direction: column;

      @media screen and (min-width: 821px) {
        flex-direction: row;
      }
    }
  }
}

.content-container {
  height: 100%;
}

.lang-switcher {
  div {
    background: #E2E2E2;
    color: var(--color-secondary);
    padding: 5px 10px 6px;

    &.active {
      background-color: var(--color-secondary);
      color: #fff;
    }
  }
}

.page-title-wrapper {
  /* background: url('/assets/images/icon/dot.svg'); */
  /* background-repeat: no-repeat; */
  display: inline-block;
  position: relative;
  width: 100%;

  @media screen and (min-width: 821px) {
    padding-top: 20px;
    margin-bottom: 80px;
  }

  .page-title-inner {
    width: 100%;
    margin: auto;
    position: relative;
  }
}


.cs-bullet {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    padding-left: 1.2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;

    &::before {
      content: "";
      background-image: url('/assets/images/process3/cs-bullet-point.png');
      width: 14px;
      height: 14px;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      left: 0;
      top: 5px;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &.no-m {
    gap: 5px;

    div {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}


.single-img-section {
  margin: 0px auto 30px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;

  &:has(+ .line-divider) {
    margin-bottom: 0;
  }

  &:has(+ .dot-divider) {
    margin-bottom: 0;
  }

  &.sm {
    margin: 1.5rem auto;
  }

  &.none {
    margin: .25rem auto;
  }

  img {
    width: 800px;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
  }

  p {
    text-align: center !important;
    font-style: italic;
    color: #555 !important;
    margin-bottom: 0 !important;
    font-size: 0.875rem !important;
  }
}

/* Back to top button */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: var(--color-secondary, #EF4136);
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.back-to-top.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.back-to-top:hover {
  background: #d63a30;
}