@import url('./variables.css');
/* 
  0 - 768
  769-1670
*/

body.process-template {
  background: var(--color-processbg);
  line-height: 1.6;

  &::before {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-image: url(/assets/images/process_bg_right_top.svg);
    background-position: right top;
    background-size: 50%;
    opacity: 0.2;
  }
}

.content-container {
  position: relative;

  &::before {
    content: "";
    background-repeat: no-repeat;
    position: fixed;
    height: 400px;
    width: 320px;
    top: 25%;
    left: 0;
    z-index: -1;
    background-image: url('/assets/images/process-content-left.svg');
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
    position: fixed;
    height: 550px;
    width: 310px;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url('/assets/images/process-content-right.svg');
  }
}

/* only for process 5 */
.page-template.process-5 {
  --pl: 110px;
  --m-pl: 60px;
  padding-top: 120px;
  padding-bottom: 0 !important;

  /* only for process 5's one */
  .page-title-wrapper {
    &:not(.in-content-title) {
      &::after {
        content: "";
        background-image: url('/assets/images/process-1-header-img.png');
        width: 400px;
        height: 350px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -40%);
      }
    }
    img{
      /* width: 60%; */
      height: 150px;
    }
    &.five{
      img{
        height: 130px;
      }
    }
  }

  .page-template-content-inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    max-width: 100%;
    background: transparent;

    @media screen and (min-width: 768px) {
      padding-left: 0px;
      padding-right: 0px;
    }

    h2 {
      line-height: 1.2;
      font-weight: bold;
      font-size: 1.75rem;
    }

    h3 {
      line-height: 1.2;
      font-weight: 700;
      font-size: 1.5rem;
    }

    p{
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 1.9rem;
    }
    ul{
      line-height: 1.8;
    }

    .line-divider {
      width: 100%;
      height: 1px;
      border-top: 1px solid #f06523;
      margin: 50px 0;
    }
    b{
      display: block;
      width: 100%;
    }
    /* process one !! */
    &.one {

      h2,
      h3 {
        color: var(--color-process1);
      }

      .line-divider {
        border-color: var(--color-process1);
      }
    }

    &.two {

      h2,
      h3 {
        color: var(--color-process2);
      }

      .line-divider {
        border-color: var(--color-process2);
      }
    }

    &.three {

      h2,
      h3 {
        color: var(--color-process3);
      }

      .line-divider {
        border-color: var(--color-process3);
      }
    }

    &.four {

      h2,
      h3 {
        color: var(--color-process4);
      }

      .line-divider {
        border-color: var(--color-process4);
      }
    }

    &.five {

      h2,
      h3 {
        color: var(--color-process5);
      }

      .line-divider {
        border-color: var(--color-process5);
      }
    }
  }
}

.flex-box-5-5 {
  display: flex;
  gap: 30px;
  margin-bottom: 1rem;
  .item {
    width: 50%;
  }
}
