#in-page-navnav {
  position: relative;
}

.intro-img {
  max-height: 67px;
  position: relative;
  left: -9px;

  @media screen and (min-width: 821px) {
    max-height: 100px;
    left: unset;
  }
}

.single-page-header {
  margin-top: -100px;
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  position: relative;
  height: 370px;
  overflow: hidden;

  @media screen and (min-width: 821px) {
    height: 380px;
  }

  .page-title-wrapper {
    width: 100%;
    margin: auto;
    padding-top: 0px;
    padding-left: 30px;
    margin-top: 15px;
    position: relative;

    @media screen and (min-width: 821px) {
      max-width: 1140px;
      padding-left: 0px;
      padding-top: 50px;
    }

    &::after {
      content: "";
      background-image: none;
      position: absolute;
      top: 0%;
      right: -10%;
      width: 70%;
      height: 350px;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: -330px bottom;

      @media screen and (min-width: 821px) {
        height: 380px;
        background-image: url('/assets/images/single-page-header-obj.png');
        background-position: center bottom;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url('/assets/images/m-singlepage-header.png');
    background-position: center bottom;
    background-size: cover;

    @media screen and (min-width: 821px) {
      background-position: center bottom;
      background-size: cover;
      height: 380px;
      background-image: url('/assets/images/single-page-header-bg.png');
    }
  }

  &.intro {
    height: 340px;

    @media screen and (min-width: 821px) {
      height: 380px;
    }
    &::before {
      top: -25px;
      height: 370px;
      @media screen and (min-width: 821px) {
        height: 380px;
        top: 0;
      }
    }
    .page-title-wrapper {
      margin-top: 20px;
    }
  }
}

.page-template {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;


  @media screen and (min-width: 821px) {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .page-template-content-inner {
    max-width: 100%;
    margin: auto;

    h2 {
      font-size: 1.25rem;
      color: var(--color-introduction);
      font-weight: 600;
      margin-bottom: 1.25rem;

      @media screen and (min-width: 821px) {
        font-size: 1.5rem;
        margin-bottom: 1.875rem;
      }
    }

    h3 {
      font-size: 1.2rem;
      color: var(--color-introduction);
      font-weight: 400;
      margin-bottom: 0;

      @media screen and (min-width: 821px) {
        /* margin-bottom: 30px; */
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 1.875rem;
      color: #000;
      text-align: left;

      @media screen and (min-width: 821px) {
        text-align: justify;
      }
    }

    .dot-divider {
      width: 100%;
      height: 3px;
      background-image: radial-gradient(circle, var(--color-secondary) 1.5px, transparent 1.5px);
      background-size: 8px 3px;
      background-position: 0 center;
      background-repeat: repeat-x;
      margin: 50px 0;
    }
  }
}

.intro-cs-img {
  padding-top: 100px;
  padding-bottom: 40px;
  transform: scale(1.5);
  margin-bottom: -120px;

  @media screen and (min-width: 821px) {
    transform: scale(1);
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }
}