.slider-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;

  &:has(+ p) {
    margin-bottom: 30px;
  }

  &:has(+ b) {
    margin-bottom: 30px;
  }

  &:has(+ .single-img-section) {
    margin-bottom: 30px;
  }

  &:has(+ h2) {
    margin-bottom: 30px;
  }

  &:has(+ h3) {
    margin-bottom: 30px;
  }

  &:has(+ .slider-wrapper) {
    margin-bottom: 30px;
  }
}

.splide {
  width: 100%;
  max-width: 100%;
}

.splide__track {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 30px 0 30px;
}

.one {
  .splide__track {
    background-image: url('/assets/images/slider-background.svg');
  }
}

.two {
  .splide__track {
    background-image: url('/assets/images/slider-bg-2.svg');
  }
}

.three {
  .splide__track {
    background-image: url('/assets/images/slider-bg-3.svg');
  }
}

.four {
  .splide__track {
    background-image: url('/assets/images/slider-bg-4.svg');
  }
}

.five {
  .splide__track {
    background-image: url('/assets/images/slider-bg-5.svg');
  }
}

.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.splide__slide__container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 80%;
    max-height: 100%;
    /* margin: auto; */
    height: auto;
    display: block;
    object-fit: contain;

    @media screen and (min-width: 821px) {
      max-width: 100%;
    }
  }

  .caption {
    margin: 0;
    font-size: 12px;
    text-align: center;
    line-height: 1.1;
    padding-top: 5px;

    @media screen and (min-width: 821px) {
      text-align: center;
      font-size: 14px;
    }
  }
}

.splide__pagination {
  bottom: -1.2em !important;

  .splide__pagination__page {
    transform: scale(1.2);

    &.is-active {
      background: #f06522;
    }
  }
}

.splide__arrow {
  background: #77797b;

  &.splide__arrow--prev {
    left: 10px;
  }

  &.splide__arrow--next {
    right: 10px;
  }
}

.splide__arrow svg {
  fill: white;
}