:root {
  --color-primary: #bb202f;
  --color-secondary:#ef6522;
  --color-processbg: #fcdac4;
  --color-processbg1: #fcdac4;
  --color-processbg2: #ffe2c8;
  --color-processbg3: #fff7d2;
  --color-processbg4: #f1ebd9;
  --color-processbg5: #ede6db;
  --color-process1: #ef6522;
  --color-process2: #f38833;
  --color-process3: #dea639;
  --color-process4: #dbaa72;
  --color-process5: #b99763;
  --color-dot: #fedbd8;
}
